# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# --- NLP Data ---
# We download these via script, no need to store them in Git
nltk_data/

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Secrets ---
.env